In [1]:
import pandas as pd

In [33]:
def read_txt(f_name: str):
    with open(f_name, 'r') as f:
        lines = ''.join(f.readlines())[1:-1]
    return lines.split(',')

In [34]:
'null,null,null,null,null,null,null,null,null'.split(',')

['null', 'null', 'null', 'null', 'null', 'null', 'null', 'null', 'null']

In [35]:
df = pd.DataFrame(
    {
        'input': read_txt('input.txt'),
        # 'argument': read_txt('argument.txt'),
        'answer': read_txt('answer.txt'),
        'ground_truth': read_txt('ground_truth.txt'),
    },
)

df.head()

          input answer ground_truth
0   "MKAverage"   null         null
1  "addElement"   null         null
2  "addElement"   null         null
3  "addElement"   null         null
4  "addElement"   null         null

In [40]:
df.query('answer != ground_truth'
    )

                      input answer ground_truth
50029  "calculateMKAverage"      4            5
50031  "calculateMKAverage"      4            5
50033  "calculateMKAverage"      4            5
50035  "calculateMKAverage"      4            5
50037  "calculateMKAverage"      4            5
...                     ...    ...          ...
88509  "calculateMKAverage"      4            5
88517  "calculateMKAverage"      4            5
88521  "calculateMKAverage"      4            5
88525  "calculateMKAverage"      4            5
88527  "calculateMKAverage"      4            5

[14748 rows x 3 columns]